extends partials/base.pug

block content
  main.h-screen.bg-grey-light.flex.justify-center.text-grey-darker
    div.text-center.mt-8
      h1.font-light.text-5xl.text-center.mb-5 ¯\_(ツ)_/¯
      p Yep. Old 404. Not Found.
      p.text-lg Go to #[a.text-grey-darkest(href="/") home].
